{
  "syntax": "scss",
  "extends": [
    "stylelint-config-twbs-bootstrap/scss"
  ],
  "rules": {
    "selector-no-qualifying-type": [true, {"ignore": ["attribute"]}],
    "selector-max-class": 5
  },
  "ignoreFiles": ["**/*.js"]
}
