// stylelint-disable declaration-no-important
.border-radius-8 {
  border-radius: 8px;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .rounded#{$infix}-small {
      border-radius: $border-radius-sm !important;
    }
    .rounded#{$infix}-normal {
      border-radius: $border-radius !important;
    }
    .rounded#{$infix}-large {
      border-radius: $border-radius-lg !important;
    }
    .rounded#{$infix}-0 {
      border-radius: 0 !important;
    }
  }
}
