@import "../../scss/variables";

.navbar {
  transition: .2s ease;

  &.scrolled {
    box-shadow: 0 5px 15px rgba(198, 209, 215, .2);
  }

  @media (min-width: map-get($grid-breakpoints, "lg")) {
    .nav-item {
      padding-right: 4px;
      padding-left: 4px;

      .nav-link {
        position: relative;
        padding: 8px 23px 6px;
        font-weight: 700;
        text-transform: uppercase;
        transition: .2s ease;
      }

      &.active {
        .nav-link {
          color: #fff;
          background-color: $primary;
          border-color: $primary;
        }
      }
    }
  }

  .navbar-drawer {
    flex: 1;

    @media (min-width: map-get($grid-breakpoints, "lg")) {
      &-header {
        display: none;
      }
    }

    @media (max-width: map-get($grid-breakpoints, "lg") - 1px) {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 2;
      display: flex;
      flex-direction: column;
      width: 90%;
      max-width: 420px;
      height: 100%;
      overflow: auto;
      background-color: $white;
      transition: .2s ease;
      transform: translateX(100%);

      li .btn {
        display: block;
      }

      .nav-item.active {
        .nav-link {
          color: $primary;
        }
      }

      &-close {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        padding: 0;
        margin: 22px 12px 22px auto;
      }

      .nav-link {
        padding: 16px 32px;
        font-size: $h6-font-size;
        font-weight: 700;
        text-align: left;

        &:hover {
          color: $gray-800;
        }
      }

      &.in {
        transform: none;

        + .navbar-drawer-backdrop {
          pointer-events: all;
          background-color: rgba($gray-900, .8);
        }
      }

      &-backdrop {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        pointer-events: none;
        background-color: rgba($gray-900, 0);
        transition: .2s ease;
      }
    }
  }
}
